<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Vipul Popli's</title>
</head>
<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
   <!-- <tr>
        <th>Book Name</th>
    </tr>-->
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Spring in Action</td>
   <!-- <tr th:each="book : ${authors.books}">
        <td th:text="${author.books.title}">Wrox</td>
    </tr>-->
    </tr>
</table>

</body>
</html>